*.*~*
*.iml
*.log
.idea
build
.gradle
*.pid
*.pom

frontend/coverage
frontend/node_modules
frontend/Gemfile.lock

backend/gradle/
backend/gradlew*
frontend/app/widgetloader.js
frontend/app/global-widget.css
frontend/app/deploy
